repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.14
  hooks:
    # Run the linter.
    - id: ruff-check
      args: 
        - --fix
    # Run the formatter.
    - id: ruff-format

# Autoformat the doc
- repo: https://github.com/myint/docformatter
  rev: v1.7.7
  hooks:
    - id: docformatter
      args:
        - --in-place
        - --wrap-summaries=120
